{% extends "base.html" %}

{% block menu %}
    <li><a href="{% url 'treadweb:home' %}" accesskey="1" title="">Home</a></li>
    <li><a href="{% url 'treadweb:search' %}" accesskey="2" title="">Search</a></li>
    <li class="current_page_item"><a href="{% url 'treadweb:channel' %}" accesskey="3" title="">Channel</a></li>
    <li><a href="{% url 'treadweb:video' %}" accesskey="4" title="">Video</a></li>
    <li><a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i></a></li>
{% endblock menu %}

{% block body0 %}
    <div class="tagd">
    {% if tag_list %}
        {% for tags in tag_list %}
        <div class="tagd-wrapper">
            <div class="tagd-items">
                {% for tag in tags %}
                    <div class="tagd-item"><a href="{% url 'treadweb:channel_tag' tag %}">#{{ tag }}</a></div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    {% endif %}
    </div>
{% endblock body0 %}

{% block body1 %}
    <div class="youtube-table-wrapper">
        <div class="youtube-table-header">
            <div class="header-item rank">순위</div>
            <div class="header-item">유튜버</div>
            <div class="header-item value">구독자 수</div>
            <div class="header-item value">조회 수</div>
            <div class="header-item value">영상 수</div>
        </div>
        {% if channel_list %}
            {% for channel in channel_list %}
        <div class="youtube-table-body">
            <div class="body-item rank"><span>{{ forloop.counter }}</span></div>
            <div class="body-item left">
                <span><img src="{{ channel.thumbnails }}"/></span>
                <span>{{ channel.title }}</span></div>
            <div class="body-item value"><span>{{ channel.subscriber }}</span></div>
            <div class="body-item value"><span>{{ channel.view_count }}</span></div>
            <div class="body-item value"><span>{{ channel.video_count }}</span></div>
        </div>
            {% endfor %}
       {% endif %}
    </div>
{% endblock body1 %}

{% block body2 %}
{% endblock body2 %}
