<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width", initial-scale="1">

  <!-- Libraries CSS Files -->
  <link href="//maxcdn.bootstrap.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<title>트리드 - 트렌드를 읽다</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
    {% load staticfiles %}
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3.0.1/dist/vue-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


    <!-- CSS -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.css">
    <link href="{% static 'treadweb/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'treadweb/css/default.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div id="header-wrapper">
  <div id="header">
    <div id="logo">
      <a class="navbar-brand" href="{% url 'treadweb:home' %}">TREAD</a>
    </div>
    <div id="menu">
      <ul>
                {% block menu %}
                {% endblock menu %}
      </ul>
    </div>
  </div>
</div>

    {% block body0 %}
    {% endblock body0 %}

    {% block body1 %}
    {% endblock body1%}

    {% block body2 %}
    {% endblock body2 %}

    {% block body3 %}
    {% endblock body3 %}

<div id="copyright">
  <div class="container">
  <p>&copy; All rights reserved. | Design by TREAD.</p>
  </div>
</div>
    <script src="{% static 'treadweb/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'treadweb/js/chart.js' %}"></script>
    <script src="{% static 'treadweb/js/rank.js' %}"></script>

</body>
</html>
