{% extends "base.html" %}
{% load staticfiles %}
{% block menu %}
    <li><a href="{% url 'treadweb:home' %}" accesskey="1" title="">Home</a></li>
    <li class="current_page_item"><a href="{% url 'treadweb:search' %}" accesskey="2" title="">Search</a></li>
    <li><a href="{% url 'treadweb:channel' %}" accesskey="3" title="">Channel</a></li>
    <li><a href="{% url 'treadweb:video' %}" accesskey="4" title="">Video</a></li>
    <li><a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i></a></li>
{% endblock menu %}

{% block body0 %}
    <div class="wrap">
       <div class="search">
          <input type="text" id="keyword_text" class="searchTerm" placeholder="검색어를 입력하세요.">
          <button class="searchButton" onclick="search_keyword()">
            <i class="fa fa-search"></i>
         </button>
       </div>
    </div>
    <div class="container">
        <div class="keyword_rank">
            {% for age, rank_list in keyword_rank.items %}
            <div class="rank_inner">
                <strong class="rank_title">{{ age }}</strong>
                <ul class="rank_list">
                    {% for word in rank_list %}
                    <li class="list">
                        <div class="list_area" onclick="search_keyword('{{ word }}')">
                            <span class="num">{{ forloop.counter }}</span>
                            <span class="list_title">{{ word }}</span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock body0 %}

{% block body1 %}
    <line-chart-component></line-chart-component>
{% endblock body1 %}

{% block body2 %}
    <div class="container">
        <region-chart-component></region-chart-component>
        <gender-chart-component></gender-chart-component>
	</div>
    <wordcloud-component></wordcloud-component>

{% endblock body2 %}