{% extends "base.html" %}

{% block menu %}
    <li><a href="/tread/" accesskey="1" title="">Home</a></li>
    <li class="current_page_item"><a href="/tread/search/" accesskey="2" title="">Search</a></li>
    <li><a href="/tread/rank" accesskey="3" title="">Rank</a></li>
    <li><a href="/tread/movie" accesskey="4" title="">Movie</a></li>
{% endblock menu %}

{% block body0 %}
    <div id="searchbar">
        <form method="post">
          <input type="text" class="textbox" placeholder="Search">
          <input title="Search" value="" type="submit" class="button">
        </form>
    </div>
{% endblock body0 %}
