<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>트리드 - 트렌드를 읽다</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
    {% load staticfiles %}
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3.0.1/dist/vue-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- CSS -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.css">
    <link href="{% static 'treadweb/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'treadweb/css/default.css' %}" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="{% url 'treadweb:home' %}"><img src="{% static 'treadweb/img/tread_logo.jpg' %}" width="160" height="80" alt="logo" /></a></h1>
		</div>
		<div id="menu">
			<ul>
                {% block menu %}
                    <li class="current_page_item"><a href="{% url 'treadweb:home' %}" accesskey="1" title="">Home</a></li>
                    <li><a href="{% url 'treadweb:search' %}" accesskey="2" title="">Search</a></li>
                    <li><a href="{% url 'treadweb:rank' %}" accesskey="3" title="">Rank</a></li>
                    <li><a href="{% url 'treadweb:movie' %}" accesskey="4" title="">Movie</a></li>
                {% endblock menu %}
			</ul>
		</div>
	</div>
</div>
<div id="page-wrapper">
    {% block body0 %}

    {% endblock body0 %}
    <hr width="95%" color="#D3000D" noshade />
    {% block body1 %}
    {% endblock body1%}
    {% block body2 %}
    <div class="wrapper">
        <div id="three-column" class="container">
            <div id="tbox1">
                <div class="title">
                    <h2>Naver</h2>
                </div>
                <p>Hot Tags</p>
                <a href="#" class="button">More</a> </div>
            <div id="tbox2">
                <div class="title">
                    <h2>Google</h2>
                </div>
                <p>Hot Tags</p>
                <a href="#" class="button">More</a> </div>
            <div id="tbox3">
                <div class="title">
                    <h2>Youtube</h2>
                </div>
                <p>Hot Tags</p>
                <a href="#" class="button">More</a> </div>
        </div>
    </div>
    {% endblock body2 %}
    {% block body3 %}
    {% endblock body3 %}
</div>

<div id="copyright" class="container">
	<p>&copy; All rights reserved. | Design by TREAD.</p>
</div>
    <script src="{% static 'treadweb/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'treadweb/js/chart.js' %}"></script>

</body>
</html>
