beautifulsoup4==4.8.0
certifi==2019.9.11
chardet==3.0.4
cycler==0.10.0
Django==2.2.6
gunicorn==19.9.0
idna==2.8
kiwisolver==1.1.0
lxml==4.4.1
matplotlib==3.1.1
numpy==1.17.2
pandas==0.25.1
Pillow==6.2.0
pyparsing==2.4.2
python-dateutil==2.8.0
pytrends==4.7.1
pytz==2019.2
requests==2.22.0
six==1.12.0
soupsieve==1.9.4
sqlparse==0.3.0
urllib3==1.25.6
wordcloud==1.5.0
